<div class="card">
  <div class="inside">
    <header>
      <div class="left">
        <div class="title">Wingardium Leviosa</div>
        <div class="niveau">1</div>
      </div>
      <div class="right">
        <img class="icon vitesse" src="assets/img/lent.png">
        <img class="icon sortilege" src="assets/img/sortilege.png">
      </div>
    </header>
    <div class="details">
      <div class="stats">
        <div class="amp">12</div>
        <div class="zone">1</div>
      </div>
      <div class="description">Fait léviter un objet, puis le manipule dans les airs à la guise du sorcier. Ne peut pas être utilisé sur une baguette magique.</div>
      <div class="spe">
        <div class="spe-nom">Épars</div>
        <div class="spe-effet">Zone+1</div>
      </div>
      <div class="spe">
        <div class="spe-nom">Auto-Centré</div>
        <div class="spe-effet">Le sort peut être lancé sur soi-même.</div>
        </div>
    </div>
  </div>
</div>
