<div class="w-full p-2 rounded-lg shadow-md bg-neutral-900 text-white">
	<div class="p-1 bg-[rgba(80,47,34,0.88)] text-neutral-200 font-[nice-font]">
		<header class="flex mb-1 justify-between">
			<div class="flex flex-col items-start w-3/4 gap-0">
				<div class="font-bold text-3xl">{{ spell.name }}</div>
				<div class="italic text-xl">Année {{ spell.niveau }}</div>
			</div>
			<div class="flex flex-row items-end justify-end w-1/4 gap-2 mt-2">
				<img
					class="w-6 h-6"
					[src]="spell.rapide ? 'assets/img/rapide.png' : 'assets/img/lent.png'"
					[alt]="spell.rapide ? 'Sort rapide' : 'Sort lent'"
				/>
				<img
					*ngFor="let t of spell.type"
					class="w-6 h-6"
					[src]="getSpellImage(t)"
					[title]="getSpellLabel(t)"
				/>
			</div>
		</header>

		<div class="flex flex-col text-base">
			<div class="flex flex-row gap-5 mb-2">
				<div class="font-bold text-2xl before:content-['AMP_'] before:font-normal before:text-xl">
					{{ spell.amp }}
				</div>
				<div class="font-bold text-2xl before:content-['Zone_'] before:font-normal before:text-xl">
					{{ spell.zone }}
				</div>
			</div>

			<div class="mb-2">
				{{ spell.description }}
				<div *ngFor="let spe of spell.specialites" class="flex flex-col mb-2">
					<div class="self-center font-bold text-xl">{{ spe.name }}</div>
					<div>{{ spe.description }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
