@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'card-font';
	src: url('/assets/fonts/FordsFollyRg.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'card-font';
	src: url('/assets/fonts/FordsFollyBold.TTF') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'card-font';
	src: url('/assets/fonts/FordsFollyItalic.TTF') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'card-font';
	src: url('/assets/fonts/FordsFollyBoldIt.TTF') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'nice-font';
	src: url('/assets/fonts/CormorantGaramond-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'nice-font';
	src: url('/assets/fonts/CormorantGaramond-Bold.TTF') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'nice-font';
	src: url('/assets/fonts/CormorantGaramond-Italic.TTF') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'nice-font';
	src: url('/assets/fonts/CormorantGaramond-BoldItalic.TTF') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'harry-potter';
	src: url('/assets/fonts/HARRYP.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.font-title {
	font-family: 'harry-potter', cursive;
}

body {
  background-image: url('/assets/img/background.png'); /* ton image */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed
}

